cache/** filter=lfs diff=lfs merge=lfs -text
results/** filter=lfs diff=lfs merge=lfs -text
results/archives_2 filter=lfs diff=lfs merge=lfs -text
results/model_1_raw.pickle filter=lfs diff=lfs merge=lfs -text
results/model_2_raw.pickle filter=lfs diff=lfs merge=lfs -text
results/archives filter=lfs diff=lfs merge=lfs -text
processed_data/cache filter=lfs diff=lfs merge=lfs -text
processed_data/congestion_tables filter=lfs diff=lfs merge=lfs -text
processed_data/filtered filter=lfs diff=lfs merge=lfs -text
processed_data/merged_incidents.csv filter=lfs diff=lfs merge=lfs -text
processed_data/bkk_incidents.csv filter=lfs diff=lfs merge=lfs -text
processed_data/bkk_tmc_graph.graphml filter=lfs diff=lfs merge=lfs -text
processed_data/cluster_centroids_stats.csv filter=lfs diff=lfs merge=lfs -text
processed_data/depot_locations2.csv filter=lfs diff=lfs merge=lfs -text
processed_data/test filter=lfs diff=lfs merge=lfs -text
processed_data/accident_tables filter=lfs diff=lfs merge=lfs -text
processed_data/bkk_augmented_graph.pickle filter=lfs diff=lfs merge=lfs -text
processed_data/depot_locations.csv filter=lfs diff=lfs merge=lfs -text
processed_data/incidents_with_clusters.csv filter=lfs diff=lfs merge=lfs -text
processed_data/train filter=lfs diff=lfs merge=lfs -text
processed_data/congestion_tables/*.csv filter=lfs diff=lfs merge=lfs -text
